                                body {
                                    font-family: Arial, Helvetica, sans-serif;
                                    background-color: seashell
                                }
                                
                                * {
                                    box-sizing: border-box;
                                }
                                
                                h1 {
                                    text-align: center;
                                }
                                
                                p {
                                    width: auto;
                                    border: 2px solid black;
                                    margin-right: 0px;
                                    margin-left: 0px;
                                    padding: 3px;
                                    font-weight: bold;
                                    height: auto;
                                }
                                
                                section>h4 {
                                    float: right;
                                    border: 2px solid black;
                                    width: 250px;
                                    text-align: center;
                                    font-style: helevatica;
                                    height: 60px;
                                    padding-top: 15px;
                                    position: relative;
                                    margin: 0px;
                                    background-color: lightblue;
                                }
                                
                                .a {
                                    background-color: lightblue;
                                }
                                
                                .b {
                                    background-color: lightseagreen;
                                }
                                
                                .c {
                                    background-color: greenyellow;
                                }
                                
                                #p1 {
                                    background-color: yellow;
                                    padding-top: 70px;
                                }
                                
                                #p2 {
                                    background-color: darkorange;
                                    padding-top: 70px;
                                }
                                
                                #p3 {
                                    background-color: lightgray;
                                    padding-top: 70px;
                                }
                                /* simple responsive framework */
                                
                                .row {
                                    width: 100%;
                                }
                                /* for large devices */
                                
                                @media (min-width: 992px) {
                                    .lg1,
                                    .lg2,
                                    .lg3,
                                    .lg4,
                                    .lg5,
                                    .lg6,
                                    .lg7,
                                    .lg8,
                                    .lg9,
                                    .lg10,
                                    .lg11,
                                    .lg12 {
                                        float: left;
                                    }
                                    .lg1 {
                                        width: 8.33%;
                                    }
                                    .lg2 {
                                        width: 16.66%;
                                    }
                                    .lg3 {
                                        width: 25%;
                                    }
                                    .lg4 {
                                        width: 33%
                                    }
                                    .lg5 {
                                        width: 41.66%;
                                    }
                                    .lg6 {
                                        width: 50%;
                                    }
                                    .lg7 {
                                        width: 58.33%;
                                    }
                                    .lg8 {
                                        width: 66.66%;
                                    }
                                    .lg9 {
                                        width: 74.99%;
                                    }
                                    .lg10 {
                                        width: 83.33%;
                                    }
                                    .lg11 {
                                        width: 91.66%;
                                    }
                                    .lg12 {
                                        width: 100%;
                                    }
                                }
                                
                                @media (min-width:768px) and (max-width:991px) {
                                    .md1,
                                    .md2,
                                    .md3,
                                    .md4,
                                    .md5,
                                    .md6,
                                    .md7,
                                    .md8,
                                    .md9,
                                    .md10,
                                    .md11,
                                    .md12 {
                                        float: left;
                                    }
                                    .md1 {
                                        width: 8.33%;
                                    }
                                    .md2 {
                                        width: 16.66%;
                                    }
                                    .md3 {
                                        width: 25%;
                                    }
                                    .md4 {
                                        width: 33%
                                    }
                                    .md5 {
                                        width: 41.66%;
                                    }
                                    .md6 {
                                        width: 50%;
                                    }
                                    .md7 {
                                        width: 58.33%;
                                    }
                                    .md8 {
                                        width: 66.66%;
                                    }
                                    .md9 {
                                        width: 74.99%;
                                    }
                                    .md10 {
                                        width: 83.33%;
                                    }
                                    .md11 {
                                        width: 91.66%;
                                    }
                                    .md12 {
                                        width: 100%;
                                    }
                                }
                                
                                @media (max-width:767px) {
                                    .s1,
                                    .s2,
                                    .s3,
                                    .s4,
                                    .s5,
                                    .s6,
                                    .s7,
                                    .s8,
                                    .s9,
                                    .s10,
                                    .s11,
                                    .s12 {
                                        float: left;
                                    }
                                    .s1 {
                                        width: 8.33%;
                                    }
                                    .s2 {
                                        width: 16.66%;
                                    }
                                    .s3 {
                                        width: 25%;
                                    }
                                    .s4 {
                                        width: 33%
                                    }
                                    .s5 {
                                        width: 41.66%;
                                    }
                                    .s6 {
                                        width: 50%;
                                    }
                                    .s7 {
                                        width: 58.33%;
                                    }
                                    .s8 {
                                        width: 66.66%;
                                    }
                                    .s9 {
                                        width: 74.99%;
                                    }
                                    .s10 {
                                        width: 83.33%;
                                    }
                                    .s11 {
                                        width: 91.66%;
                                    }
                                    .s12 {
                                        width: 100%;
                                    }
                                }
