body {
    background-color: yellow;
    color: #fff;
    font-size: 16px;
    font-family: 'Josefin+Sans';
    font-style: normal;
}

#header-nav {
    background-color: #f4f6fb;
    border: 0;
}

#logo-img {
    background: url('../img/res6.png') no-repeat;
    width: 150px;
    height: 150px;
    margin-top: 0px;
    padding-top: 0px;
}

#we {
    color: black;
    font-size: 15px;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
    text-decoration: none;
}